
.root{
	-fx-background-color: #46627f !important;
}

.h1{
	-fx-stroke-width: 2px;
	-fx-font-size: 36px;
	-fx-font-weight: 900;
	-fx-text-fill: #ffffff;
}

.h2{
	-fx-font-size: 28px;
	-fx-font-weight: 800;
	-fx-text-fill: #ffffff;
}

.h3{
	-fx-font-size: 21px;
	-fx-font-weight: 800;
	-fx-text-fill: #ffffff;
}

.h4{
	-fx-font-size: 18px;
	-fx-font-weight: 800;
	-fx-text-fill: #ffffff;
}

.p{
	-fx-font-size: 14px;
	-fx-font-weight: 600;
	-fx-text-fill: #ffffff;
}

.scroll-pane > .viewport{
	-fx-background: transparent;
}

.scroll-pane:focused{
	-fx-focus-color: transparent;
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
	-fx-background-insets: -1.4, 0, 1, 2;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
	-fx-shape: " ";	
	-fx-padding:0;
}

/* The increment and decrement button CSS class of scrollbar */
.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 0 10 0;
}

/* The increment and decrement button CSS class of scrollbar */
.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 10 0 0;
}

.scroll-pane .corner {    
    -fx-background-color: transparent ;
}

.scroll-bar .increment-button {
	visibility: hidden;
}

.scroll-bar .decrement-button {
	visibility: hidden;
}

.scroll-bar:vertical {
	-fx-background-color: transparent;
}

.scroll-bar:vertical .track-background {
	visibility: hidden;
}

.scroll-bar:vertical .track {
	visibility: hidden;
}

.scroll-bar:vertical .thumb {
	-fx-background-color: #3498db;
}

.scroll-bar:horizontal {
	-fx-background-color: transparent;
}

.scroll-bar:horizontal .track-background {
	visibility: hidden;
}

.scroll-bar:horizontal .track {
	visibility: hidden;
}

.scroll-bar:horizontal .thumb {
	-fx-background-color: #3498db;
}


.scroll-fill{
	-fx-background-color: #46627f !important;
	-fx-fill: #ffffff !important;
	-fx-border-color: #46627f;
}

.button{
	-fx-background-color: #3498db;
	-fx-text-fill: #ffffff;
	-fx-font-size: 12pt;
	-fx-min-width: 15;
	-fx-min-height: 25;
	-fx-cursor: hand;
}

.main-button{
	-fx-font-size: 15pt;
	-fx-min-width: 35;
	-fx-min-height: 50;	
}

.menu-bar{
	-fx-min-height: 50px;
	-fx-font-size: 14pt;
	-fx-background-color: #2c3e50;
	-fx-text-fill: #ffffff;
}

.menu .label{
    -fx-text-fill: #ffffff;
}

.menu-button{
	-fx-background-color: transparent !important;
}

.text-field {
    -fx-background-color: #3498db , #ffffff , #ffffff;
    -fx-font-size: 13pt;
}

.text-field:focused {
    -fx-background-color: #3498db , white , white;
    -fx-background-insets: -3 -3 -3 -3, 0 0 0 0, 0 -1 3 -1;
}

.form-field{
    -fx-min-width: 258;
    -fx-min-height: 38;
    -fx-font-size: 13pt;
}

.search-button{
	-fx-background-color: #c0392b;
	-fx-min-height: 40 !important;
}

.main-search-dropdown{
    -fx-pref-width: 100 !important;   	
    -fx-pref-height: 42 !important;	
}

.main-search-dropdown > .list-view{
    -fx-pref-width: 100 !important;   			
}

/** Size the combo-box button. */
.combo-box {
    -fx-pref-width: 86;
    -fx-pref-height: 38;
    -fx-font-size: 13px;
    -fx-background-color: #ffffff;
}

/** Size the combo-box drop down list. */
.combo-box-popup > .list-view {
    -fx-pref-width: 86;
    -fx-font-size: 13px;
}

.bg-image{
	-fx-background-image: url('https://cdn.vox-cdn.com/uploads/chorus_asset/file/8712449/gbb_food.jpg');
}
